/* navbar */
li{
    list-style-type: none;
}

a.links_navbar {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a.links_navbar:hover {
    color: #e2da97;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #000000;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo-link {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.links {
    display: flex;
    gap: 2rem;
}

.toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height o.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open{
    height: 280px;
}

.dropdown_action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* RESPONSIVE DESIGN */
@media(max-width: 992px){
    .navbar>.links,
    .navbar> .action_btn {
        display: none;
    }

    .toggle_btn {
        display: block;
    }
}

.gradient {
    background-image: linear-gradient(to bottom right, #e2da97, #000000);
}
.gradient-skill {
    background-image: linear-gradient(to right, #e2da97, #000000);
}
.gradient-bottom {
    background-image: linear-gradient(to bottom right, #000000, #e2da97);
}
